body {
    margin: 0;
    background-color: #fafafa;
}

.main {
    line-height: 18px;
    margin-top: 87px;
    padding-top: 60px;
    background-color: #fafafa;
}

.inline-block {
    display: inline-block;
}

.underline-none {
    text-decoration:none;
}

.float-r {float:right;}

.input-custom {
    border: 1px solid #efefef;
    border-radius: 3px;
    font-size: 16px;
    height: 32px;
    padding: 0 10px;
}

.textarea-custom {
    border: 1px solid #efefef;
    border-radius: 3px;
    font-size: 16px;
    height: 46px;
    padding: 6px 10px;
}

.button-blue {
    border: 0;
    color: #3897f0;
    display: inline;
    padding: 0;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.button-submit {
    background-color: #3897f0;
    border: 1px solid #3897f0;
    border-radius: 4px;
    padding: 5px 9px;
    color: #fff;
    font-size: 13px;
    position: relative;
}

.button-sign-up {
    width: 100%;
    max-width: 256px;
    background-color: #3897f0;
    border: 1px solid #3897f0;
    border-radius: 4px;
    padding: 5px 9px;
    color: #fff;
    font-size: 13px;
    position: relative;
}

.align-r {text-align: right;}
.align-l {text-align: left;}
.float-r {float: right;}
.float-l {float: left;}
.vertical-t {vertical-align: top;}
.vertical-m {vertical-align: middle;}
.vertical-b {vertical-align: bottom;}

.a-none:link { color: black; text-decoration: none;}
.a-none:visited { color: black; text-decoration: none;}
.a-none:hover { color: black; text-decoration: none;}
.delete-color { color: red !important;}

.nav {
    background-color: #fff;
    position: fixed;
    border-bottom: rgba(0, 0, 0, 0.098) 1px solid;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: height .2s ease-in-out;
}

.nav-scroll-down {
    top: -40px;
}

.nav-inner {
    max-width: 1010px;
    width: 100%;
    padding:26px 20px;
    margin: 0 auto;
    text-align:center;
    box-sizing:border-box;
}
.nav-logo {
    padding-right: 28px;
    vertical-align: middle;
    width: 24px;
    /*border-right: 1px solid black;*/
}

.nav-pipe {

}

.nav-logo-text {
    height: 36px;
    padding-left: 28px;
    vertical-align: middle;
    border-left: 1px solid black;
}

.nav-left {
    width: 33%;
    float:left;
    text-align: left;
}
.nav-center {
    display: inline-block;
    margin:0 auto;
    width:33%;
}
.nav-right {
    width: 33%;
    float:right;
    text-align: right;
}

.nav-search-input {
    width:100%;
	max-width: 215px;
    height: 28px;
    font-size: 15px;
    text-align: center;
    background: #fafafa;
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    padding:0 5px;
    box-sizing:border-box;
}

.nav-search-input:focus {
    text-align:left;
    outline:none;
}

.nav-icon { margin-left: 30px; }
.icon-small { width: 12px; }
.icon-medium { width: 24px; }
.icon-large { width: 32px; }

.feed-box {
    max-width: 600px;
    margin: 0 auto 60px auto;
    background-color: white;
    border: 1px solid #e6e6e6;
}

.feed-box-top {
    height: 28px;
    padding: 16px;
    align-items: center;
    font-weight: 600;
}

.userImg {
    width: 32px;
    border-radius: 50%;
}
.userImg-38x {
    width: 38px;
    border-radius: 50%;
}
.userImgLarge {
    width: 152px;
    border-radius: 50%;
}

.feed-box-top > .userName {
    padding-left: 15px;
}
.feed-box-top > .hamburger {
    float:right;
}
.feed-box-middle {
    max-height: 600px;
}
.feed-box-middle img {
    width: 100%;
    min-width: 150px;
    max-width: 600px;
}

.feed-box-bottom {
    padding: 0 16px 16px 16px;
}

.feed-box-write-time {
    font-size: 10px;
    letter-spacing: .2px;
    color: #999;
}

.feed-more-icon {
    cursor: pointer;
}

.feed-more {
    width: 23px;
}

.post-box {
    font-size: 20px;
    max-width: 600px;
    margin: 0 auto 60px auto;
    background-color: white;
    border: 1px solid #e6e6e6;
    text-align: center;
}

.post-box .textarea {
    font-family:airal,san-serif;
    font-size: 20px;
    width:100%;
    box-sizing:border-box;
    height: 100px;
    margin:20px 0px;
    border: 0;
    resize: vertical;
    padding:0 10px;
}

.post-box-header {
    font-weight: 400;
    padding:20px;
    border-bottom: 1px solid #e6e6e6;
}

.post-box-header-btnShare {
    text-decoration:none;
    font-weight: 400;
    color: #3897f0;
}

/* registration */

.login-box {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    margin: 44px auto;
    padding: 10px 0;
    width: 350px;
    text-align: center;
}

.signup-box {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    margin: -35px auto;
    padding: 10px 0;
    width: 350px;
    text-align: center;
}

.login-box input {
    width: 250px;
    height: 32px;
}

.login-btn {
    background-color: #3897f0;
    border: 1px solid #3897f0;
    border-radius: 4px;
    color: #fff;
    position: relative;
    max-width: 268px;
    width:100%;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
}

.login-box-h2 {
    font-weight: 600;
    line-height: 20px;
    font-size: 17px;
    margin: 0 40px 10px;
    color: #999;
    text-align: center;
}
.forget-box-h2 {
    font-weight: 600;
    line-height: 20px;
    font-size: 17px;
    margin: 0 40px 10px;
    color: black;
    text-align: center;
}

.login-box-h3 {
    font-weight: 600;
    line-height: 20px;
    font-size: 14px;
    margin: 0 40px 10px;
    color: #999;
    text-align: center;
}

/* Modal Content */
.modal-content {
    z-index: 2;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 12px;
    text-align: center;
}


/* modal */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    z-index: 999;
    background-color: #fefefe;
    padding: 0;
    border: 1px solid #888;
    width:400px;
    min-width: 400px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    border-radius: 12px;
}


.modal-button {
    font-size: 14px;
    cursor: pointer;
    margin: 0;
    width:100%;
    padding: 15px 0;
    display: inline-block;
}

.modal-button-border-top {
    border-top: 1px solid #efefef;
}

.show-picture {
    cursor: pointer;
}

.profile-box {padding: 32px 0 23px 0;}
.profile-table{border-spacing: 0 13px;}
.profile-table-title{font-weight: 500;}
.profile-table-name{width: 35%; padding-right:32px;}
.profile-table-input{width: 65%;}
.profile-submit-div {margin-bottom: 32px;}
.profile-table-input input, .profile-table-input textarea {width: 100%;}


@media (max-width:799px){
    .nav-left > a:first-child {width: 30%;float: left;}
    .nav-left > a:last-child {width: 70%; padding: 0 20px 0 0; float: left; box-sizing: border-box;}
    .nav-logo {padding-right:0; margin-top:3px;}
    .nav-logo-text {padding-left:0;float: right;width: 100%;max-width: 103px;padding-left: 10px;}
    .nav-right > a {margin-left:8%;}
    .nav-icon {margin-left:0;}
    .post-box-header, .post-box {font-size:18px;}
    .show-picture {width:100% !important; max-width:600px; height:auto !important;}
    .feed-box {margin: 0 auto 15px auto;}
}