body {
    margin: 0;
    background-color: #fafafa;
}


.main {
    line-height: 18px;
    margin-top: 87px;
    padding-top: 60px;
    background-color: #fafafa;
}


.inline-block {
    display: inline-block;
}

.underline-none {
    text-decoration:none;
}

.float-r {
 float:right;
}


.nav {
    background-color: #fff;
    position: fixed;

    border-bottom: rgba(0, 0, 0, 0.098) 1px solid;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: height .2s ease-in-out;
}

.nav-scroll-down {
    top: -40px;
}

.nav-inner {
    max-width: 1010px;
    width: 100%;
    padding:26px 20px;
    margin: 0 auto;
    text-align:center;
}

.nav-logo {
    padding-right: 28px;
    vertical-align: middle;
    width: 24px;
    border-right: 1px solid black;
}

.nav-pipe {

}

.nav-logo-text {
    height: 36px;
    padding-left: 28px;
    vertical-align: middle;
}

.nav-left {
    width: 33%;
    float:left;
    text-align: left;
}
.nav-center {
    display: inline-block;
    margin:0 auto;
    width:100px;
}
.nav-right {
    width: 33%;
    float:right;
    text-align: right;
    padding-right: 37px;
}

.nav-search-input {
    width: 215px;
    height: 28px;
    font-size: 16px;
}


.feed-box {
    max-width: 600px;
    /*height: 660px;*/
    margin: 0 auto 60px auto;
    background-color: white;
    border: 1px solid #e6e6e6;
}

.feed-box-top {
    height: 28px;
    padding: 16px;
    align-items: center;
    display: flex;
    font-weight: 600;
}

.feed-box-top > .userImg {
    width: 32px;
}

.feed-box-top > .userName {
    padding-left: 15px;
}

.feed-box-top > .hamburger {
    float:right;
}

.feed-box-middle {
    height: 600px;
}

.feed-box-middle img {
    width:600px;
}

.feed-box-bottom {
    padding: 0 16px 16px 16px;
}

.feed-box-write-time{
    font-size: 10px;
    letter-spacing: .2px;
    color: #999;
}


.post-box {
    font-size: 20px;
    max-width: 600px;
    margin: 0 auto 60px auto;
    /*padding:30px;*/
    background-color: white;
    border: 1px solid #e6e6e6;
    text-align: center;
}

.post-box textarea {
    font-size: 20px;
    width: 90%;
    margin:20px 0px;
    border: 0;
    resize: vertical;
}

.post-box-header {
    font-weight: 400;
    padding:20px;
    border-bottom: 1px solid #e6e6e6;
}

.post-box-header-btnShare {
    text-decoration:none;
    font-weight: 400;
    color: #3897f0;
}

/* registration */

.login-box {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    margin: 44px auto;
    padding: 10px 0;

    width: 350px;
    height: 358px;

    text-align: center;
}

.login-box input {
    width: 250px;
    height: 20px;
}

.login-btn {
    background-color: #3897f0;
    border: 1px solid #3897f0;
    border-radius: 4px;
    color: #fff;
    position: relative;
    max-width: 268px;
    width:100%;
    height: 30px;

    font-size: 14px;
    font-weight: 600;
}

.login-box-h2 {
    font-weight: 600;
    line-height: 20px;
    font-size: 17px;
    margin: 0 40px 10px;
    color: #999;
    text-align: center;
}