/*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 310). 
        
The 'supports' rule will only run if your browser supports CSS grid.

Flexbox and floats are used as a fallback so that browsers which don't support grid will still recieve a similar layout.

*/

/* Base Styles */

/*:root {*/
/*    font-size: 10px;*/
/*}*/

/**,*/
/**::before,*/
/**::after {*/
    /*box-sizing: border-box;*/
/*}*/

body {
    /*font-family: "Open Sans", Arial, sans-serif;*/
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 30px;
}

header>img,
main>img{
    display: block;
}

.container {
    /*font-size: 10px;*/
    max-width: 935px;
    margin: 0 auto;
    padding: 0 20px;
}

.btn {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.btn:focus {
    outline: 5px auto #4d90fe;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

/* Profile Section */

.profile {
    padding: 0 0 50px 0 ;
}

.profile::after {
    content: "";
    display: block;
    clear: both;
}

.profile-image {
    float: left;
    width: calc(33.333% - -10px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.profile-image img {
    border-radius: 50%;
}

.profile-user-settings,
.profile-stats,
.profile-bio {
    float: left;
    width: calc(66.666% - 20px);
}

.profile-user-settings {
    margin-top: 11px;
}

.profile-user-name {
    display: inline-block;
    font-size: 32px;
    font-weight: 300;
}

.profile-edit-btn {
    font-size: 14px;
    line-height: 1.8;
    border: 01px solid #dbdbdb;
    border-radius: 03px;
    padding: 0 9px;
    margin: auto 20px;

}

.profile-settings-btn {
    font-size: 20px;
    margin-left: 10px;
}

.profile-stats {
    margin-top: 23px;
}

.profile-stats li {
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
    margin-right: 40px;
    cursor: pointer;
}

.profile-stats li:last-of-type {
    margin-right: 0;
}

.profile-bio {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 23px;
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
    font-weight: 600;
}

/* Gallery Section */

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -10px -10px;
    padding-bottom: 30px;
}

.gallery-item {
    position: relative;
    flex: 1 0 220px;
    margin: 10px;
    color: #fff;
    cursor: pointer;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
    display: none;
}

.gallery-item-info li {
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
}

.gallery-item-likes {
    margin-right: 22px;
}

.gallery-item-type {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    text-shadow: 02px 02px 02px rgba(0, 0, 0, 0.1);
}

.fa-clone,
.fa-comment {
    transform: rotateY(180deg);
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Loader */

.loader {
    width: 50px;
    height: 50px;
    border: 06px solid #999;
    border-bottom-color: transparent;
    border-radius: 50%;
    margin: 0 auto;
    animation: loader 500ms linear infinite;
}

/* Media Query */

@media screen and (max-width: 400px) {
    .profile {
        display: flex;
        flex-wrap: wrap;
        padding: 40px 0;
    }

    .profile::after {
        display: none;
    }

    .profile-image,
    .profile-user-settings,
    .profile-bio,
    .profile-stats {
        float: none;
        width: auto;
    }

    .profile-image img {
        width: 77px;
    }

    .profile-user-settings {
        flex-basis: calc(100% - 107px);
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
    }

    .profile-user-name {
        font-size: 22px;
    }

    .profile-edit-btn {
        order: 1;
        padding: 0;
        text-align: center;
        margin-top: 10px;
    }

    .profile-edit-btn {
        margin-left: 0;
        margin-left: 10px;
    }

    .profile-bio {
        font-size: 14px;
        margin-top: 15px;
    }

    .profile-edit-btn,
    .profile-bio,
    .profile-stats {
        flex-basis: 100%;
    }

    .profile-stats {
        order: 1;
        margin-top: 15px;
    }

    .profile-stats ul {
        display: flex;
        text-align: center;
        padding: 12px 0;
        border-top: 1px solid #dadada;
        border-bottom: 1px solid #dadada;
        color: #1b6d85;
    }

    .profile-stats li {
        font-size: 14px;
        flex: 1;
        margin: 0;
    }

    .profile-stat-count {
        display: block;
    }
}

/* Spinner Animation */

@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}

@supports (display: grid) {
    .profile {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 30px;
        align-items: center;
    }

    .profile-image {
        grid-row: 1 / -1;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        grid-gap: 20px;
    }

    .profile-image,
    .profile-user-settings,
    .profile-stats,
    .profile-bio,
    .gallery-item,
    .gallery {
        width: auto;
        margin: 0;
    }

    @media (max-width: 400px) {
        .profile {
            grid-template-columns: auto 1fr;
            grid-row-gap: 15px;
        }

        .profile-image {
            grid-row: 1 / 2;
        }

        .profile-user-settings {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 10px;
        }

        .profile-edit-btn,
        .profile-stats,
        .profile-bio {
            grid-column: 1 / -1;
        }

        .profile-user-settings,
        .profile-edit-btn,
        .profile-settings-btn,
        .profile-bio,
        .profile-stats {
            margin: 0;
        }
    }

    @media (max-width: 250px) {
        .profile-user-settings {
            display: block;
        }
    }

}
