{% extends "posts/base.html" %}
{% load static %}

{% block content %}

<script type="text/javascript">
    $( document ).ready(function() {

    });
</script>

<form method="post" action="{% url 'login' %}">
	{% csrf_token %}
	<div class="login-box">
		<a href="/"><img src="{% static 'images/nav-logo-text.png' %}" class="logo-text" alt="logo-text"/></a>
		<div class="login-box-h3">
			Hi, {{user_name}}<br>
			Instagram 비밀번호 재설정 요청이<br>
			접수되었습니다.<br>
			<p><input type="button" name="resetPassword" class="login-btn" value="Reset Password" /></p>
			이 메시지를 무시하면 비밀번호가<br>
			변경되지 않습니다.
		</div>
	</div>
</form>

{% endblock %}
