<head>
<style>

.reset-password-box{
	font-size: 16px;
	width: 400px;
	margin: 0 auto;
}

.login-btn {
    background-color: #3897f0;
    border: 1px solid #3897f0;
    border-radius: 4px;
    color: #fff;
    position: relative;
	padding: 10px 16px 14px 16px;
    max-width: 268px;
    width:100%;
    height: 45px;
    font-size: 16px;
    font-weight: 600;
}

</style>
</head>
<body>
	<form method="post" action="{% url 'login' %}">
		{% csrf_token %}
		<div class="reset-password-box">
			<div class="login-box-h3">
				<p>Hi, {{user_name}}</p>
				Instagram 비밀번호 재설정 요청이<br>
				접수되었습니다.<br>
				<p>
					<a href="http://localhost:8000/users/reset-password/{{token}}">
						<input type="button" name="resetPassword" class="login-btn" value="Reset Password" />
					</a>
				</p>
				이 메시지를 무시하면 비밀번호가<br>
				변경되지 않습니다.
			</div>
		</div>
	</form>
</body>
