{% extends "posts/base.html" %}
{% load static %}

{% block content %}

<script type="text/javascript">
	var submitAction = function(e) {
		e.preventDefault();
		e.stopPropagation();
	};
	$('form').bind('submit', submitAction);

    $( document ).ready(function() {

        $('#loginLinkBtn').on('click', function () {
			$.ajax({
				url: "/users/forget-password/",
				type: "POST",
				dataType: "text",
				data: {'email': $('#email').val()},
				success: function(data){
					if (data == 'True')
						alert('감사합니다! \n비밀번호 재설정 링크를 받을 '+$('#email').val()+'을(를) 확인하세요.\n');
				}, error: function (request, status, error){
					alert('전송에 실패했습니다.');
				}

			  });

		});

    });
</script>

<form method="post" action="{% url 'login' %}">
	{% csrf_token %}
	<div class="login-box">
		<a href="/"><img src="{% static 'images/nav-logo-text.png' %}" class="logo-text" alt="logo-text"/></a>
		<div class="forget-box-h2">로그인에 문제가 있나요?</div>
		<div class="login-box-h3">사용자 이름 또는 이메일을 입력하면 다시 계정에 로그인할 수 있는 링크를 보내드립니다.</div>
		<p><input type="email" id="email" name="email" class="input-custom pd-32" placeholder="이메일 주소"></p>
		<p><input type="button" id="loginLinkBtn" class="login-btn"  value="로그인 링크 보내기"/></p>

		<div class="login-box-h3">또는</div>

		<p><a href="{% url 'signup' %}" class="a-none">새 계정 만들기</a></p>
		<p><a href="{% url 'login' %}" class="a-none">로그인으로 돌아가기</a></p>
	</div>
</form>

{% endblock %}
