{% extends "posts/base-inner.html" %}
{% load static %}

{% block page_content %}
<script type="text/javascript">
    $( document ).ready(function() {
        $('#take-picture1').hide();

        $('#profile-edit, #show-picture1').on('click', function (e) {
            e.preventDefault();
            $('#take-picture1').click();
        });

    });
</script>

<div class="main">
    <div class="post-box">
        <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
            <input type="hidden" name="email" id="id_email" required="true" value="{{user.email}}">
            <table class="profile-table profile-box">
                <tr>
                    <td class="align-r profile-table-name ">
                        <div class="align-r">
                            <img id="show-picture1" class="userImg-38x show-picture profile-picture" src="{%if user.profile_image != '' %} {{user.profile_image.url}} {% endif %}">
                        </div>
                    </td>
                    <td class="align-l profile-table-input">
                        <input type="file" id="take-picture1" name="profile_image" class="take-picture" accept="image/*" value="">
                        <span class="profile-table-title">{{ user.user_name }}</span><br>
                        <button type="button" id="profile-edit" class="button-blue">프로필 사진 바꾸기</button>
                    </td>
                </tr>
                <tr>
                    <td class="align-r profile-table-name">이름</td>
                    <td class="align-l profile-table-input">
                        <input type="text" name="name" class="input-custom" value="{{user.name}}" maxlength="20" required="true" id="id_name">
                        {{ form.name.errors }}
                    </td>

                </tr>
                <tr>
                    <td class="align-r profile-table-name">사용자 이름</td>
                    <td class="align-l profile-table-input">
                        <input type="text" name="user_name" class="input-custom" value="{{user.user_name}}" maxlength="20" required="true" id="id_user_name">
                        {{ form.user_name.errors }}
                    </td>
                </tr>
                <tr>
                    <td class="align-r profile-table-name">웹사이트</td>
                    <td class="align-l profile-table-input">
                        <input type="text" name="web_site" class="input-custom" value="{{user.web_site}}" id="id_web_site">
                        {{ form.web_site.errors }}
                    </td>
                </tr>
                <tr>
                    <td class="align-r profile-table-name vertical-t">소개</td>
                    <td class="align-l profile-table-input">
                        <textarea name="comment" class="textarea-custom" cols="40" rows="30" maxlength="255" id="id_comment">{{user.comment}}</textarea>
                        {{ form.comment.errors }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="profile-table-divide-name vertical-t">개인정보</td>
                </tr>
                <tr>
                    <td class="align-r profile-table-name vertical-t">이메일</td>
                    <td class="align-l profile-table-input">
                        <input type="email" name="email" class="input-custom" value="{{user.email}}" required="" id="email">
                        {{ form.email.errors }}
                    </td>
                </tr>
                <tr>
                    <td class="align-r profile-table-name vertical-t">전화번호</td>
                    <td class="align-l profile-table-input">
                        <input type="text" name="phone_number" class="input-custom" value="{{user.phone_number}}" required="" id="id_phone_number">
                        {{ form.phone_number.errors }}
                    </td>
                </tr>
                <tr>
                    <td class="align-r profile-table-name vertical-t">성별</td>
                    <td class="align-l profile-table-input">
                        {{form.gender}}
                        {{ form.gender.errors }}
                    </td>
                </tr>
            </table>
            <div class="profile-submit-div"><button type="submit" class="btn-default button-submit">제출</button></div>
        </form>
    </div>
</div>
{% endblock %}