{% extends "posts/base-inner.html" %}
{% load static %}

{% block page_content %}
<script type="text/javascript">
    $( document ).ready(function() {
        $('#take-picture1').hide();

        $('#profile-edit').on('click', function (e) {
            e.preventDefault();
            $('#take-picture1').click();
        });

    });
</script>

<div class="main">
    <div class="post-box">
        <form method="POST" class="post-form">{% csrf_token %}
            <input type="hidden" name="email" id="id_email" required="true" value="{{user.email}}">
            <table class="profile-table profile-box">
                <tr>
                    <td rowspan="2" class="align-r profile-table-name ">
                        <div class="align-r">
                            <img class="userImg" src="{%if post.image != '' %} {{user.profile_image.url}} {% endif %}">
                        </div>
                    </td>
                    <td class="align-l profile-table-input">{{ user.user_name }}</td>
                </tr>
                <tr>
                    <td class="align-l profile-table-input">
                        <input type="file" name="profile_image" id="take-picture1" class="take-picture" accept="image/*">
                        <button type="button" id="profile-edit" class="button-blue">프로필 사진 바꾸기</button>
                    </td>
                </tr>
                <tr>
                    <td class="align-r profile-table-name">이름</td>
                    <td class="align-l profile-table-input">
                        <input type="text" name="name" class="input-custom" value="{{user.name}}" maxlength="20" required="" id="id_name">
                    </td>

                </tr>
                <tr>
                    <td class="align-r profile-table-name">사용자이름</td>
                    <td class="align-l profile-table-input">
                        <input type="text" name="user_name" class="input-custom" value="{{user.user_name}}" maxlength="20" required="" id="id_user_name">
                    </td>
                </tr>
                <tr>
                    <td class="align-r profile-table-name vertical-t">소개</td>
                    <td class="align-l profile-table-input">
                        <textarea name="comment" class="textarea-custom" cols="40" rows="30" maxlength="255" required="" id="id_comment">{{user.comment}}</textarea>
                    </td>
                </tr>
            </table>
            <div class="profile-submit-div"><button type="submit" class="save btn btn-default btn-submit">제출</button></div>
        </form>
    </div>
</div>
{% endblock %}