{% load static %}
{% load custom_filter %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <script src="{% static 'js/common.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/mobileCamera.js' %}"></script>
    <script src="{% static 'js/JavaScript-Load-Image/load-image.all.min.js' %}"></script>
    <title>{% block title %}{{ title|default:"Clonestagram" }}{% endblock %}</title>

    <script>

        // nav scroll event
        window.onscroll = function(){
            scrollFunction();
        };

    </script>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
