{% extends "posts/base-inner.html" %}
{% load static %}

{% block page_content %}
<script type="text/javascript">
    $( document ).ready(function() {

        $('#take-picture1').hide();

        {% if post.id != null %}
            $('#id_content').focus();
        {% endif %}

        $('#show-picture1').on('click', function (e) {
            e.preventDefault();
            $('#take-picture1').click();
        });

        $('#btnShare').on('click', function (e) {
            $('#feed-more-modal').css('display','block');
            document.body.style.overflow = 'hidden';
        });

        $('#feed-more-modal-share').on('click', function () {
            document.forms[0].submit();
        });

        $('#feed-more-modal-cancel').on('click', function() {
            $('#feed-more-modal').css('display','none');
            document.body.style.overflow = '';
        });

        // modal click
        $('#feed-more-modal').on('click', function (e){
            if(e.target.className == "modal"){
                $('#feed-more-modal').css('display','none');
                $('#feed-more-modal-share').attr('href', '');
                document.body.style.overflow = '';
            }
        });

    });

</script>

<div class="main">

    <div class="post-box">
      <form method="post" enctype="multipart/form-data">
        <div class="post-box-header">
          <span class="post-box-header-title">{% if post.id != null %} 정보 수정 {% else %} 새 게시물 {% endif %} </span>
          <span class="float-r">
            <a href="javascript:void(0);" id="btnShare" class="post-box-header-btnShare" >공유</a>
          </span>
        </div>
        {% csrf_token %}
        <input type="hidden" name="user" id="id_user" required="true" value="{{request.user.id}}">
        {% if post.id == null %}
          <input type="file" name="image" id="take-picture1" class="take-picture" accept="image/*">
        {% endif %}
        <img id="show-picture1"
             src="{%if post.image != null %} {{post.image.url}} {% else %} {% static 'images/default_image.jpeg' %} {% endif %}"
             class="show-picture no-drag"
             style="width: 600px; height:600px;">
        {{ form.image.errors }}
        <textarea name="content" class="textarea" cols="40" rows="10" placeholder="문구 입력.." required="true" id="id_content">{{post.content}}</textarea>
        {{ form.content.errors }}
      </form>
    </div>

</div>

<div id="feed-more-modal" class="modal">
  <div class="modal-content">
      <a href="javascript:void(0);" id="feed-more-modal-share" class="modal-button share-color a-none">공유</a>
      <a href="javascript:void(0);" id="feed-more-modal-cancel" class="modal-button modal-button-border-top a-none">취소</a>
  </div>
</div>

{% endblock %}