{% extends "posts/base-inner.html" %}
{% load static %}

{% block page_content %}

<script type="text/javascript">

    $(document).ready(function(){

      // modal open
      $('.feed-more-icon').on('click', function (e) {
        let updateUrl = $(this).data('updateUrl');
        let deleteUrl = $(this).data('deleteUrl');

        $('#feed-more-modal').css('display','block');
        $('#feed-more-modal-delete').attr('href', deleteUrl);
        $('#feed-more-modal-update').attr('href', updateUrl);
        document.body.style.overflow = 'hidden';

      });

      // modal click
      $('#feed-more-modal').on('click', function (e){
        if(e.target.className == "modal"){
          $('#feed-more-modal').css('display','none');
          $('#feed-more-modal-delete').attr('href', '');
          $('#feed-more-modal-update').attr('href', '');
          document.body.style.overflow = '';
        }
      });

      $('#feed-more-modal-cancel').on('click', function() {
        $('#feed-more-modal').css('display','none');
        document.body.style.overflow = '';
      });

    });

    // nav scroll resize
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
          $('.nav-inner').css('padding', '10px 20px');
          $('.scrolldown-hide').fadeOut(200);
      } else {
          $('.nav-inner').css('padding', '26px 20px');
          $('.scrolldown-hide').fadeIn(200);
      }
    }

</script>
<div class="main">

    <div class="feed-box-list">

        {% if object_list %}
            {% for post in object_list %}
            <div class="feed-box">
                <div class="feed-box-top">
                    {% if user.profile_image %}
                    <img class="userImg no-drag float-l" src="{{user.profile_image.url}}" alt="user" />
                    {% endif %}
                    <span class="userName">{{post.user.user_name}}</span>
                    <span id="hamburger" class="hamburger">
                        <a class="feed-more-icon"
                           data-post-id="{{post.id}}"
                           data-update-url="{% url 'post-update' pk=post.id %}"
                           data-delete-url="{% url 'post-delete' pk=post.id %}"
                        >
                            <img class="feed-more no-drag" src="{% static 'images/more.png' %}" alt="more" />
                        </a>
                    </span>
                </div>
                <div class="feed-box-middle">
                    <img class="feed-box-middle-img no-drag"
                         src="{%if post.image != '' %} {{post.image.url}} {% endif %}"
                         alt="feedImage" />
                </div>
                <div class="feed-box-bottom">
                    <div>
                        <p>{{post.content}}</p>ㅁ
                        <p class="feed-box-write-time">{{post.create_dt|timesince}} 전</p>
                    </div>
                    <div></div>
                </div>
            </div>
            {% endfor%}
        {% else %}
         <div class="feed-box">
            <div class="feed-box-top">등록된 게시물이 없습니다.</div>
         </div>
        {% endif %}
    </div>
</div>

<div id="feed-more-modal" class="modal">
  <div class="modal-content">
      <a href="" id="feed-more-modal-delete" class="modal-button delete-color a-none">삭제</a>
      <a href="" id="feed-more-modal-update" class="modal-button modal-button-border-top a-none">수정</a>
      <a href="javascript:void(0);" id="feed-more-modal-cancel" class="modal-button modal-button-border-top a-none">취소</a>
  </div>

</div>

{% endblock %}