{% extends "posts/base.html" %}
{% load static %}

{% block content %}

<div class="nav">
    <div class="nav-inner">
        <div class="nav-left inline-block">
            <a href="{% url 'post-create' %}" class="underline-none">
                <img src="{% static 'images/nav-logo.png' %}" class="nav-logo" alt="logo"/>
            </a>
            <a href="/">
                <img src="{% static 'images/nav-logo-text.png' %}" class="nav-logo-text" alt="logo-text"/>
            </a>
        </div>
        <div class="nav-center inline-block"><input class="nav-search-input" type="text" placeholder="검색" /></div>
        <div class="nav-right inline-block">
            <a href="{% url 'logout' %}">logout</a>
        </div>
    </div>
</div>
<div class="main">
    <div class="feed-box-list">
        {% for post in object_list %}
        <div class="feed-box">
            <div class="feed-box-top">
                <img class="userImg" src="{% static 'images/dummy-userImg.jpg' %}" alt="user" />
                <span class="userName">{{post.author}}</span>
                <span id="hamburger" class="hamburger">
                    <a href="{% url 'post-update' pk=post.id %}" class="underline-none">
                        <img class="feed-more" src="{% static 'images/more.png' %}" alt="more" />
                    </a>
                </span>
            </div>
            <div class="feed-box-middle">
                <img class="feed-box-middle-img"
                     src="{%if post.image != '' %} {{post.image.url}} {% endif %}"
                     alt="feedImage" />
            </div>
            <div class="feed-box-bottom">
                <div>
                    <p>{{post.content}}</p>
                    <p class="feed-box-write-time">{{post.create_dt|timesince}} 전</p>
                </div>
                <div></div>
            </div>
        </div>
        {% endfor%}
    </div>
</div>

{% endblock %}

