{% extends "posts/base-inner.html" %}
{% load static %}

{% block page_content %}
<script type="text/javascript">
  $( document ).ready(function() {

    $('#take-picture1').hide();

    // scroll down resize
    window.onscroll = function() {scrollFunction()};

    {% if post.id != null %}
      $('#id_content').focus();
    {% endif %}

    $('#show-picture1').on('click', function (e) {
      e.preventDefault();
      $('#take-picture1').click();
    });

});

function scrollFunction() {
  if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
      $('.nav-inner').css('padding', '10px 20px');
      $('.scrolldown-hide').fadeOut(200);
  } else {
      $('.nav-inner').css('padding', '26px 20px');
      $('.scrolldown-hide').fadeIn(200);
    }
};

</script>

<div class="main">

    <div class="post-box">
      <form method="post" enctype="multipart/form-data">
        <div class="post-box-header">
          <span class="post-box-header-title">{% if post.id != null %} 정보 수정 {% else %} 새 게시물 {% endif %} </span>
          <span class="float-r">
            <a href="#" id="btnShare" class="post-box-header-btnShare" onclick="document.forms[0].submit();" >공유</a>
          </span>
        </div>
        {% csrf_token %}
        <input type="hidden" name="user" id="id_user" required="true" value="{{request.user.id}}">
        {% if post.id == null %}
          <input type="file" name="image" id="take-picture1" class="take-picture" accept="image/*">
        {% endif %}
        <img id="show-picture1"
             src="{%if post.image != null %} {{post.image.url}} {% else %} {% static 'images/default_image.jpeg' %} {% endif %}"
             class="show-picture no-drag"
             style="width: 600px; height:600px;">
        {{ form.image.errors }}
        <textarea name="content" class="textarea" cols="40" rows="10" placeholder="문구 입력.." required="true" id="id_content">{{post.content}}</textarea>
        {{ form.content.errors }}
      </form>
    </div>

</div>

{% endblock %}