{% extends "posts/base.html" %}
{% load static %}

{% block content %}

<body>
  <div class="main">

    <div class="post-box">
      <form action="{% url 'post-create' %}" method="post">
        <div class="post-box-header">
          <span class="post-box-header-title">새 게시물</span>
          <span class="float-r">
            <a href="#" class="post-box-header-btnShare" onclick="document.forms[0].submit();" >공유</a>
          </span>
        </div>
          {% csrf_token %}
          {{ form.as_p }}
      </form>
    </div>

  </div>
</body>

{% endblock %}