{% extends "posts/base.html" %}
{% load static %}

{% block content %}

<script type="text/javascript">

    $(document).ready(function(){

      // modal
      $('.feed-more-icon').on('click', function () {
        let updateUrl = $(this).data('updateUrl');
        $('#feed-more-modal').css('display','block');
        $('#feed-more-modal-update').attr('href', updateUrl);
      });

      $('.feed-more-modal').on('click', function () {
        $('#feed-more-modal').css('display','none');
        $('#feed-more-modal-update').attr('href', '');
      });

    });

    // nav scroll resize
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
          $('.nav-inner').css('padding', '10px 20px');
          $('.scrolldown-hide').fadeOut(200);
      } else {
          $('.nav-inner').css('padding', '26px 20px');
          $('.scrolldown-hide').fadeIn(200);
      }
    }

</script>

<div class="nav">
    <div class="nav-inner">
        <div class="nav-left inline-block">
            <a href="{% url 'post-create' %}" class="underline-none">
                <img src="{% static 'images/nav-logo.png' %}" class="nav-logo" alt="logo"/>
            </a>
            <a href="/">
                <img src="{% static 'images/nav-logo-text.png' %}" class="nav-logo-text scrolldown-hide" alt="logo-text"/>
            </a>
        </div>
        <div class="nav-center inline-block"><input class="nav-search-input" type="text" placeholder="검색" /></div>
        <div class="nav-right inline-block">
            <a href="{% url 'logout' %}">logout</a>
        </div>
    </div>
</div>
<div class="main">
    <div class="feed-box-list">
        {% for post in object_list %}
        <div class="feed-box">
            <div class="feed-box-top">
                <img class="userImg" src="{% static 'images/dummy-userImg.jpg' %}" alt="user" />
                <span class="userName">{{post.author}}</span>
                <span id="hamburger" class="hamburger">
                    <a class="feed-more-icon" data-post-id="{{post.id}}" data-update-url="{% url 'post-update' pk=post.id %}">
                        <img class="feed-more" src="{% static 'images/more.png' %}" alt="more" />
                    </a>
                </span>
            </div>
            <div class="feed-box-middle">
                <img class="feed-box-middle-img"
                     src="{%if post.image != '' %} {{post.image.url}} {% endif %}"
                     alt="feedImage" />
            </div>
            <div class="feed-box-bottom">
                <div>
                    <p>{{post.content}}</p>
                    <p class="feed-box-write-time">{{post.create_dt|timesince}} 전</p>
                </div>
                <div></div>
            </div>
        </div>
        {% endfor%}
    </div>
</div>


<div id="feed-more-modal" class="modal">
  <div class="modal-content">
      <p><a>삭제</a></p>
      <p><a href="" id="feed-more-modal-update" class="underline-none">수정</a></p>
  </div>

</div>

{% endblock %}

