{% extends "posts/base-inner.html" %}
{% load static %}
{% block title %}{{ user.name }}({{ user.user_name }}) • Instagram 사진 및 동영상{% endblock %}

{% block page_content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<script type="text/javascript">
    // nav scroll resize
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
          $('.nav-inner').css('padding', '10px 20px');
          $('.scrolldown-hide').fadeOut(200);
      } else {
          $('.nav-inner').css('padding', '26px 20px');
          $('.scrolldown-hide').fadeIn(200);
      }
    }
</script>

<div class="main">
</div>

  <header>
	<div class="container">

		<div class="profile">

			<div class="profile-image">
				<img class="userImgLarge no-drag float-l" src="{%if user.profile_image != '' %} {{user.profile_image.url}} {% endif %}">
			</div>
			<div class="profile-user-settings">
				<h1 class="profile-user-name vertical-m">{{user.user_name}}</h1>
                <div class="profile-edit-div">
                    <a href="{% url 'profile_update' pk=user.id %}" class="a-none">
                        <button class="btn profile-edit-btn vertical-m">프로필 편집</button>
                        <img src="{% static 'images/settings.png' %}" class="icon-medium vertical-m" alt="logo"/>
                    </a>
                </div>

			</div>

			<div class="profile-stats">
				<ul>
					<li>게시물 <span class="profile-stat-count">{{object_list.count}}</span></li>
{#					<li>팔로워 <span class="profile-stat-count">188</span></li>#}
{#					<li>팔로우 <span class="profile-stat-count">206</span></li>#}
				</ul>
			</div>

			<div class="profile-bio">
				<p>
					<span class="profile-real-name">{{user.username}}</span><br>
					<span>{{user.comment}}</span>
					<br>
					<span><a href="{{user.web_site}}" class="underline-none " target="_blank">{{user.web_site}}</a></span>
        		</p>
			</div>

		</div>
		<!-- End of profile section -->

	</div>
	<!-- End of container -->

</header>

<main>

	<div class="container">

		<div class="gallery">

      {% for post in object_list %}
        <div class="gallery-item" tabindex="0">

          <img src="{{post.image.url}}" class="gallery-image" alt="">

          <div class="gallery-item-info">

            <ul>
{#              <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 56</li>#}
{#              <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 2</li>#}
            </ul>

          </div>

        </div>
      {% endfor %}

			</div>

		</div>
		<!-- End of gallery -->

{#		<div class="loader"></div>#}

	</div>
	<!-- End of container -->

</main>

{% endblock %}