{% extends "posts/base.html" %}
{% load static %}

{% block content %}

<form method="post" action="{% url 'login' %}">
	{% csrf_token %}
	<div class="login-box">
		<img src="{% static 'images/nav-logo-text.png' %}" class="logo-text" alt="logo-text"/>
		<!--<div class="login-box-h2">친구들의 사진과 동영상을 보려면 가입하세요.</div>-->
		<p><input type="text" name="username" class="input-custom pd-32" placeholder="이메일 주소"></p>
		<p><input type="password" name="password" class="input-custom" placeholder="비밀번호"></p>
		<p><button class="login-btn" type="submit">로그인</button></p>
		<p>계정이 없으신가요? <a href="{% url 'signup' %}" class="button-blue underline-none">가입하기</a></p>
	</div>
</form>

{% endblock %}
