{% extends "posts/base.html" %}
{% load static %}

{% block content %}

<form method="post" action="{% url 'signup' %}">
  {% csrf_token %}
  <div class="login-box">
    <a href="/"><img src="{% static 'images/nav-logo-text.png' %}" class="nav-log-text-sign" alt="logo-text"/></a>
    <p class="login-box-h2">친구들의 사진과 동영상을 보려면 가입하세요.</p>
    <p>{{ form.email}}</p>
    <div class="signup-errors">{{ form.email.errors }}</div>
    <p>{{ form.name}}</p>
    <div class="signup-errors">{{ form.name.errors }}</div>
    <p>{{ form.user_name}}</p>
    <div class="signup-errors">{{ form.user_name.errors }}</div>
    <p>{{ form.password1}}</p>
    <div class="signup-errors">{{ form.password1.errors }}</div>
    <p>{{ form.password2}}</p>
    <div class="signup-errors">{{ form.password2.errors }}</div>
    <p><button type="submit" class="button-sign-up">가입</button></p>
  </div>
    <div class="signup-box">
      <p>계정이 있으신가요? <a href="{% url 'login' %}" class="button-blue underline-none">로그인</a></p>
    </div>
</form>

{% endblock %}
