{% extends "posts/base.html" %}
{% load static %}

{% block content %}

<form method="post" action="{% url 'signup' %}">
  {% csrf_token %}
  <div class="login-box">
    <img src="{% static 'images/nav-logo-text.png' %}" class="" alt="logo-text"/>
    {{ form.email}}
    {{ form.name}}
    {{ form.user_name}}
    {{ form.password1}}
    {{ form.password2}}
    <button type="submit" class="button-sign-up">가입</button>
    <p>계정이 있으신가요?<a href="{% url 'login' %}">로그인</a></p>
  </div>

</form>

{% endblock %}
