{% extends "posts/base.html" %}
{% load static %}

{% block content %}


<script>
    $(document).ready(function(){

        // using jQuery
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        var $signupForm = $('.my-ajax-form');
        $signupForm.submit(function(event){
            event.preventDefault();
            let $formData = $(this).serialize();
            let $thisURL = $signupForm.attr('data-url') || window.location.href;
            $.ajax({
                method: "POST",
                url: $thisURL,
                data: $formData,
                success: handleFormSuccess,
                error: handleFormError,
             });

        });

        function handleFormSuccess(data, textStatus, jqXHR){
            alert(data.message);
            location.href = "{% url 'login' %}";
        }

        function handleFormError(jqXHR, textStatus, errorThrown){
            var err = jqXHR.responseJSON;

            $('.signup-errors').html('');
            $.each(err, function(key, value){
                $('#err-'+key).html(value);
            });

        }

        $('#email').change(function(){
            $('#err-email').html('');
            $.ajax({
                url: '/ajax/validate-email/',
                data: {'email': $(this).val()},
                dataType: 'json',
                success: function (data) {
                    if (data.is_taken){
                        $('.button-sign-up').attr('disabled',true);
                        $('.button-sign-up').addClass('button-disable');
                        $('#err-email').html("이미 존재하는 이메일입니다.");
                     }else{
                        $('.button-sign-up').removeClass('button-disable');
                        $('.button-sign-up').attr('disabled',false);
                     }
                 }
            });

         });

    });

</script>

<form class="my-ajax-form" method="POST" action="." data-url="{{ request.build_absolute_uri|safe }}">
  {% csrf_token %}
  <div class="login-box">
    <a href="/"><img src="{% static 'images/nav-logo-text.png' %}" class="nav-log-text-sign" alt="logo-text"/></a>
    <p class="login-box-h2">친구들의 사진과 동영상을 보려면 가입하세요.</p>
    <p>{{ form.email}}</p>
    <div id="err-email" class="signup-errors"></div>
    <p>{{ form.name}}</p>
    <div id="err-name" class="signup-errors"></div>
    <p>{{ form.user_name}}</p>
    <div id="err-user_name" class="signup-errors"></div>
    <p>{{ form.password1}}</p>
    <div id="err-password1" class="signup-errors"></div>
    <p>{{ form.password2}}</p>
    <div id="err-password2" class="signup-errors"></div>
    <p><button type="submit" class="button-sign-up">가입</button></p>
  </div>
    <div class="signup-box">
      <p>계정이 있으신가요? <a href="{% url 'login' %}" class="button-blue underline-none">로그인</a></p>
    </div>
</form>

{% endblock %}
